# See https://help.github.com/ignore-files/ for more about ignoring files.
project/StoreWebAPI/ImageStore/*
project/StoreWebAPI/.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
project/StoreWebAPI/[Dd]ebug/
project/StoreWebAPI/[Dd]ebugPublic/
project/StoreWebAPI/[Rr]elease/
project/StoreWebAPI/[Rr]eleases/
project/StoreWebAPI/x64/
project/StoreWebAPI/x86/
project/StoreWebAPI/bld/
project/StoreWebAPI/[Bb]in/
project/StoreWebAPI/[Oo]bj/
project/StoreWebAPI/[Ll]og/

# Visual Studio 2015 cache/options directory
project/StoreWebAPI/.vs/
project/StoreWebAPI/BL/obj/project.assets.json
project/StoreWebAPI/BL/obj/Debug/netcoreapp2.1/ClothingStore.Service.csproj.FileListAbsolute.txt
project/StoreWebAPI/BL/obj/Debug/netcoreapp2.1/ClothingStore.Service.csproj.CopyComplete
project/StoreWebAPI/BL/obj/Debug/netcoreapp2.1/ClothingStore.Service.AssemblyInfo.cs
project/StoreWebAPI/BL/obj/Debug/netcoreapp2.1/ClothingStore.BL.AssemblyInfo.cs
project/StoreWebAPI/BL/obj/ClothingStore.Service.csproj.nuget.g.targets
project/StoreWebAPI/BL/obj/ClothingStore.Service.csproj.nuget.g.props
project/StoreWebAPI/BL/obj/ClothingStore.BL.csproj.nuget.g.targets
project/StoreWebAPI/BL/obj/ClothingStore.BL.csproj.nuget.g.props
project/StoreWebAPI/BL/obj/BL.csproj.nuget.g.props
project/StoreWebAPI/ClothingStore.Data/bin/Debug/netcoreapp2.1/ClothingStore.Data.deps.json
project/StoreWebAPI/ClothingStore.Data/obj/project.assets.json
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/ClothingStore.Data.csproj.FileListAbsolute.txt
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/ClothingStore.Data.AssemblyInfo.cs
project/StoreWebAPI/ClothingStore.Data/obj/ClothingStore.Data.csproj.nuget.g.targets
project/StoreWebAPI/ClothingStore.Data/obj/ClothingStore.Data.csproj.nuget.g.props
project/StoreWebAPI/DAL/bin/Debug/netcoreapp2.1/ClothingStore.Repository.runtimeconfig.json
project/StoreWebAPI/DAL/bin/Debug/netcoreapp2.1/ClothingStore.Repository.runtimeconfig.dev.json
project/StoreWebAPI/DAL/bin/Debug/netcoreapp2.1/ClothingStore.Repository.deps.json
project/StoreWebAPI/DAL/obj/project.assets.json
project/StoreWebAPI/DAL/obj/Debug/netcoreapp2.1/DAL.AssemblyInfo.cs
project/StoreWebAPI/DAL/obj/Debug/netcoreapp2.1/ClothingStore.Repository.csproj.FileListAbsolute.txt
project/StoreWebAPI/DAL/obj/Debug/netcoreapp2.1/ClothingStore.Repository.csproj.CopyComplete
project/StoreWebAPI/DAL/obj/Debug/netcoreapp2.1/ClothingStore.Repository.AssemblyInfo.cs
project/StoreWebAPI/DAL/obj/Debug/netcoreapp2.1/ClothingStore.DL.AssemblyInfo.cs
project/StoreWebAPI/DAL/obj/DAL.csproj.nuget.g.props
project/StoreWebAPI/DAL/obj/ClothingStore.Repository.csproj.nuget.g.targets
project/StoreWebAPI/DAL/obj/ClothingStore.Repository.csproj.nuget.g.props
project/StoreWebAPI/DAL/obj/ClothingStore.DL.csproj.nuget.g.targets
project/StoreWebAPI/DAL/obj/ClothingStore.DL.csproj.nuget.g.props
project/StoreWebAPI/StoreWebAPI/bin/Debug/netcoreapp2.1/StoreWebAPI.deps.json
project/StoreWebAPI/StoreWebAPI/bin/Debug/netcoreapp2.1/ClothingStore.runtimeconfig.json
project/StoreWebAPI/StoreWebAPI/bin/Debug/netcoreapp2.1/ClothingStore.runtimeconfig.dev.json
project/StoreWebAPI/StoreWebAPI/bin/Debug/netcoreapp2.1/ClothingStore.deps.json
project/StoreWebAPI/StoreWebAPI/obj/project.assets.json
project/StoreWebAPI/StoreWebAPI/obj/StoreWebAPI.csproj.nuget.g.targets
project/StoreWebAPI/StoreWebAPI/obj/StoreWebAPI.csproj.nuget.g.props
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/StoreWebAPI.RazorAssemblyInfo.cs
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/StoreWebAPI.AssemblyInfo.cs
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/ClothingStore.API.csproj.FileListAbsolute.txt
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/ClothingStore.API.csproj.CopyComplete
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/ClothingStore.API.RazorAssemblyInfo.cs
project/StoreWebAPI/StoreWebAPI/obj/Debug/netcoreapp2.1/ClothingStore.API.AssemblyInfo.cs
project/StoreWebAPI/StoreWebAPI/obj/ClothingStore.API.csproj.nuget.g.targets
project/StoreWebAPI/StoreWebAPI/obj/ClothingStore.API.csproj.nuget.g.props
project/StoreWebAPI/Tests/obj/project.assets.json
project/StoreWebAPI/Tests/obj/Tests.csproj.nuget.g.props
project/StoreWebAPI/Tests/bin/Debug/netcoreapp2.1/Tests.deps.json
project/StoreWebAPI/Tests/UnitTest1.cs
project/StoreWebAPI/Tests/Tests.csproj
project/StoreWebAPI/ClothingStore.Data/obj/Debug/netcoreapp2.1/ClothingStore.Data.csproj.CopyComplete
project/StoreWebAPI/ClothingStore.Data/bin/Debug/netcoreapp2.1/Microsoft.EntityFrameworkCore.Relational.xml
project/StoreWebAPI/BL/bin/Debug/netcoreapp2.1/Microsoft.AspNetCore.Http.Abstractions.xml
project/StoreWebAPI/BL/bin/Debug/netcoreapp2.1/ClothingStore.Service.deps.json
